*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#080808;
color:white;

}



header{

display:flex;
justify-content:space-between;
padding:25px 10%;
background:#111;

}


header h2{

color:#00ff99;

}


nav a{

color:white;
text-decoration:none;
margin:15px;

}



.hero{

height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}



.hero h1{

font-size:60px;

}


span{

color:#00ff99;

}


.hero p{

margin:30px;
font-size:22px;
color:#aaa;

}



button{

padding:15px 40px;
border:none;
border-radius:20px;
background:#00ff99;
font-size:18px;
cursor:pointer;

}



section{

padding:80px 10%;

}


section h1{

text-align:center;
margin-bottom:40px;

}



.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}



.card{

background:#151515;
padding:30px;
border-radius:20px;
transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.card h2{

color:#00ff99;

}



.skills{

text-align:center;
font-size:25px;
line-height:2;

}



footer{

text-align:center;
padding:40px;
background:#111;
color:#888;

}
